{% load i18n %}

<footer class="footer-admin mt-auto footer-light">
    <div class="container-xl px-4">
        <div class="row">
            <div class="col-md-6 small text-black">
                &copy; {% now "M Y" %} <a class="px-1 sitename" href="https://sebasmoralesd.com" target="_blank">
                    International Private Consortium.
                </a> {% trans 'Your unconditional ally. All Rights Reserved.' %} {% trans 'Created by' %} <a href="https://sebasmoralesd.com" target="_blank">International Private Consortium</a>
            </div>
            
            {% comment %}
            <!-- <div class="col-md-6 text-md-end small">
                <a href="{% url 'core:privacy' %}">{% trans 'Privacy Policy' %}</a>
                &middot;
                <a href="{% url 'core:terms' %}">{% trans 'Terms & Conditions' %}</a>
            </div>-->   
            {% endcomment %}
        </div>
    </div>
</footer>