{% extends 'dashboard/layout/base.html' %}

{% load i18n static custom_filters %}

{% block layout_main %}

<header class="page-header page-header-dark pb-10"
    style="background-image: linear-gradient(to bottom, #5e5751 0%, #5a554a 50%, #383630 100%);">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            <i data-feather="activity"></i>
                        </div>
                        {% trans 'Dashboard' %}
                    </h1>
                    <div class="page-header-subtitle">{% trans 'Overview and content summary' %}</div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4" id="my_offers">
                <div class="card-header"
                    style="background-image: linear-gradient(to bottom, #c79c44 0%, #c89d46 50%, #f4d88b 100%);">
                    <h2 style="color: black;">{% trans 'Purchase Orders' %}</h2>
                </div>
                <div class="card-body">
                    <div class="my-3 row">
                        <div class="col">
                            <i class="fa-regular fa-circle-xmark mx-1" style="color: orange;"></i>
                            {% trans 'Pending for Approval' %}
                        </div>

                        <div class="col">
                            <i class="fa-solid fa-check-double mx-1" style="color: green;"></i>
                            {% trans 'Approved' %}
                        </div>

                        <div class="col">
                            <i class="fa-regular fa-circle-xmark mx-1" style="color: red;"></i>
                            {% trans 'NOT Approved' %}
                        </div>

                        <div class="col">
                            <i class="fa-regular fa-circle-xmark mx-1" style="color: grey;"></i>
                            {% trans 'Under review' %}
                        </div>
                    </div>


                    <table id="offers_table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Asset' %}</th>
                                <th>{% trans 'Purchase order Type' %}</th>
                                <th>{% trans 'Quantity Type' %}</th>
                                <th>{% trans 'Quantity Needed' %}</th>
                                <th>{% trans 'Country' %}</th>
                                <th>{% trans 'Total value of the offer ($ USD)' %}</th>
                                <th>{% trans 'Approved' %}</th>
                                <th>{% trans 'Actions' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ offer.asset_display_name }}</td>
                                <td>{{ offer.get_offer_type_display }}</td>
                                <td>{{ offer.get_quantity_type_display }}</td>
                                <td>{{ offer.offer_quantity }}</td>
                                <td>{{ offer.buyer_country.get_continent_display }} -
                                    {{ offer.buyer_country.es_country_name }}</td>
                                <td>{{ offer.offer_amount|currency }}</td>
                                <td>
                                    {% if offer.is_approved and offer.is_active and offer.reviewed %}
                                    <!-- Verde Aprobado + Activo + Revisado -->
                                    <i class="fa-solid fa-check-double" style="color: green;"
                                        title="{% trans 'Approved' %}"></i>

                                    {% elif not offer.is_approved and offer.reviewed %}
                                    <!-- Rojo Revisado pero no aprobado (activo o no, no importa) -->
                                    <i class="fa-regular fa-circle-xmark" style="color: red;"
                                        title="{% trans 'NOT Approved' %}"></i>

                                    {% elif not offer.is_approved and not offer.reviewed %}
                                    <!-- Naranja No aprobado y No revisado (estado inicial, esperando) -->
                                    <i class="fa-regular fa-circle-xmark" style="color: orange;"
                                        title="{% trans 'Pending for Approval' %}"></i>

                                    {% else %}
                                    <!-- Gris Cualquier otra combinación “inconsistente” o en revisión interna -->
                                    <i class="fa-regular fa-circle-xmark" style="color: grey;"
                                        title="{% trans 'Under review' %}"></i>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if not offer.reviewed %}
                                    <a href="{% url 'buyers:offer_update' offer.id %}"
                                        class="btn btn-datatable btn-icon btn-outline-primary">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    {% endif %}

                                    <!-- TODO <button class="btn btn-datatable btn-icon btn-outline-danger" id="btn-modal-delete-offer" data-offer-id="{{ offer.id }}">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button> -->

                                    {% if offer.reviewed %}
                                    <a href="{% url 'buyers:offer_details' offer.id %}" type="button"
                                        class="btn btn-datatable btn-icon btn-outline-success">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4" id="create_offer">
                <div class="card-header"
                    style="background-image: linear-gradient(to bottom, #c79c44 0%, #c89d46 50%, #f4d88b 100%);">
                    <h2 style="color: black;">{% trans 'Create a New Purchase Order' %}</h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media.css }}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_asset" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Asset' %}*
                                        </span>
                                    </label>
                                    {{ form.asset|add_attrs:"class=form-select" }}
                                </div>
                                <button type="button" class="btn btn-outline-success mb-3" data-bs-toggle="modal"
                                    data-bs-target="#addAssetModal">
                                    {% trans '+ Add New Asset' %}
                                </button>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_buyer_country" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Country of Purchase' %}*
                                        </span>
                                    </label>
                                    {{ form.buyer_country|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_type" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Offer Type' %}*
                                        </span>
                                    </label>
                                    {{ form.offer_type|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_quantity_type" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Quantity Type' %}*
                                        </span>
                                    </label>
                                    {{ form.quantity_type|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_quantity" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Quantity required' %}*
                                        </span>
                                    </label>
                                    {{ form.offer_quantity|add_attrs:"class=form-control" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_amount" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Total value of the offer ($ USD)' %}*
                                        </span>
                                    </label>
                                    <input type="text" id="offer_amount_display" class="form-control" placeholder="0">
                                    <input type="hidden" id="id_offer_amount" name="offer_amount">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_description" class="form-label">
                                        <span class="fw-bold">
                                            {% if description_field == 'es_description' %}
                                            {% trans 'Description (ES)' %}
                                            {% else %}
                                            {% trans 'Description (EN)' %}
                                            {% endif %}
                                        </span>
                                    </label>
                                    {{ description_field_instance|add_attrs:"class=form-control" }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_observation" class="form-label">
                                        <span class="fw-bold">
                                            {% if observation_field == 'es_observation' %}
                                            {% trans 'Observations (ES)' %}
                                            {% else %}
                                            {% trans 'Observations (EN)' %}
                                            {% endif %}
                                        </span>
                                    </label>
                                    {{ observation_field_instance|add_attrs:"class=form-control" }}
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success">
                                {% trans 'Submit Purchase Order' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <table id="asset_and_category_table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Asset Name' %}</th>
                                <th>{% trans 'Category' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Observations' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in assets %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {% if request.LANGUAGE_CODE == 'es' %}
                                    {{ asset.asset_name.es_name}}
                                    {% else %}
                                    {{ asset.asset_name.en_name}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.LANGUAGE_CODE == 'es' %}
                                    {{ asset.category.es_name}}
                                    {% else %}
                                    {{ asset.category.en_name}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.LANGUAGE_CODE == 'es' %}
                                    {{ asset.es_description}}
                                    {% else %}
                                    {{ asset.en_description}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.LANGUAGE_CODE == 'es' %}
                                    {{ asset.es_observations}}
                                    {% else %}
                                    {{ asset.en_observations}}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block modals %}
<div class="modal fade" id="addAssetModal" tabindex="-1" aria-labelledby="addAssetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addAssetForm" method="post" enctype="multipart/form-data" action="{% url 'assets:add_asset' %}">
                {% csrf_token %}
                {{ form.media.css }}
                {{ form.media.js }}

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addAssetModalLabel">{% trans "Add New Asset" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans 'Close' %}"></button>
                </div>
                <div class="modal-body">
                    {{ add_asset.as_p }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Save Asset" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modals %}

{% block body_custom_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{{ form.media.js }}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const displayField = document.getElementById('offer_amount_display');
        const hiddenField = document.getElementById('id_offer_amount');

        displayField.addEventListener('input', function () {
            let rawValue = displayField.value.replace(/[^0-9.]/g, '');
            hiddenField.value = rawValue;
            if (!isNaN(rawValue) && rawValue !== '') {
                displayField.value = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0
                }).format(rawValue);
            } else {
                displayField.value = '';
            }
        });

        displayField.addEventListener('focus', function () {
            displayField.value = hiddenField.value;
        });

        displayField.addEventListener('blur', function () {
            let rawValue = hiddenField.value;
            if (!isNaN(rawValue) && rawValue !== '') {
                displayField.value = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0
                }).format(rawValue);
            }
        });
    });
</script>
{% endblock %}

{% block simple_datatables %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock simple_datatables %}

{% block simple_datatables_js %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
<script src="{% static 'assets/js/dashboard/datatables/simple-datatable.js' %}"></script>
{% endblock %}