{% extends 'raw.html' %}

{% load i18n static custom_filters %}

{% block icons %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/d432194db4.js" integrity="sha384-WUtJGGRX1Sh0p7Tkp0ySBnJXiB+XzZ2OdBmWXzd0HfzxGUqUu4vl6+5brRTJ+x3D" crossorigin="anonymous"></script>
{% endblock icons %}

{% block layout_main %}

<header class="page-header page-header-dark pb-10"
    style="background-image: linear-gradient(to bottom, #5e5751 0%, #5a554a 50%, #383630 100%);">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            <i data-feather="activity"></i>
                        </div>
                        {% trans 'Dashboard' %}
                    </h1>
                    <div class="page-header-subtitle">{% trans 'Overview and content summary' %}</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4" id="create_offer">
                <div class="card-header"
                    style="background-image: linear-gradient(to bottom, #c79c44 0%, #c89d46 50%, #f4d88b 100%);">
                    <h2 style="color: black;">{% trans 'Create a New Purchase Order' %}</h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media.css }}

                        <div class="row">

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_asset" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Asset' %}*
                                        </span>
                                    </label>
                                    {{ form.asset|add_attrs:"class=form-select" }}
                                </div>

                                <a type="button" class="btn btn-outline-success mb-3" href="{% url 'assets:create' %}">
                                    <i class="fa-solid fa-plus mx-1"></i> {% trans 'Add New Asset' %}
                                </a>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_buyer_country" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Country of Purchase' %}*
                                        </span>
                                    </label>
                                    {{ form.buyer_country|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_type" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Offer Type' %}*
                                        </span>
                                    </label>
                                    {{ form.offer_type|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_quantity_type" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Quantity Type' %}*
                                        </span>
                                    </label>
                                    {{ form.quantity_type|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_quantity" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Quantity required' %}*
                                        </span>
                                    </label>
                                    {{ form.offer_quantity|add_attrs:"class=form-control" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_amount" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Total value of the offer ($ USD)' %}*
                                        </span>
                                    </label>
                                    <input type="text" id="offer_amount_display" class="form-control" placeholder="0">
                                    <input type="hidden" id="id_offer_amount" name="offer_amount">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_description" class="form-label">
                                        <span class="fw-bold">
                                            {% if description_field == 'es_description' %}
                                            {% trans 'Description (ES)' %}
                                            {% else %}
                                            {% trans 'Description (EN)' %}
                                            {% endif %}
                                        </span>
                                    </label>
                                    {{ description_field_instance|add_attrs:"class=form-control" }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_observation" class="form-label">
                                        <span class="fw-bold">
                                            {% if observation_field == 'es_observation' %}
                                            {% trans 'Observations (ES)' %}
                                            {% else %}
                                            {% trans 'Observations (EN)' %}
                                            {% endif %}
                                        </span>
                                    </label>
                                    {{ observation_field_instance|add_attrs:"class=form-control" }}
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success">
                                <i class="fa-solid fa-floppy-disk mx-1"></i> {% trans 'Submit Purchase Order' %}
                            </button>
                            <a href="{% url 'buyers:buyer_index' %}" class="btn btn-outline-gold"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-arrow-left mx-1"></i> {% trans 'Go to my Purchase Orders' %}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block body_custom_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{{ form.media.js }}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const displayField = document.getElementById('offer_amount_display');
        const hiddenField = document.getElementById('id_offer_amount');

        displayField.addEventListener('input', function () {
            let rawValue = displayField.value.replace(/[^0-9.]/g, '');
            hiddenField.value = rawValue;
            if (!isNaN(rawValue) && rawValue !== '') {
                displayField.value = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0
                }).format(rawValue);
            } else {
                displayField.value = '';
            }
        });

        displayField.addEventListener('focus', function () {
            displayField.value = hiddenField.value;
        });

        displayField.addEventListener('blur', function () {
            let rawValue = hiddenField.value;
            if (!isNaN(rawValue) && rawValue !== '') {
                displayField.value = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                    minimumFractionDigits: 0
                }).format(rawValue);
            }
        });
    });
</script>

{% endblock %}