{% extends 'raw.html' %}

{% load i18n static custom_filters %}

{% block simple_datatables %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock simple_datatables %}

{% block icons %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/d432194db4.js" integrity="sha384-WUtJGGRX1Sh0p7Tkp0ySBnJXiB+XzZ2OdBmWXzd0HfzxGUqUu4vl6+5brRTJ+x3D" crossorigin="anonymous"></script>
{% endblock icons %}

{% block layout_main %}

<header class="page-header page-header-dark pb-10"
  style="background-image: linear-gradient(to bottom, #5e5751 0%, #5a554a 50%, #383630 100%);">
  <div class="container-xl px-4">
    <div class="page-header-content pt-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <i data-feather="activity"></i>
            </div>
            {% trans 'Dashboard' %}
          </h1>
          <div class="page-header-subtitle">{% trans 'Overview and content summary' %}</div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-n10">
  {% if request.user.is_asset_holder or request.user.is_superuser %}
  <div class="row">
    <div class="col-md-4 mb-4">
      <a class="card lift h-100" href="{% url 'assets:holder_index' %}">
        <div class="card-body d-flex justify-content-center flex-column">
          <div class="d-flex align-items-center justify-content-between">
            <div class="me-3">
              <i class="feather-xl text-primary mb-3 fa-solid fa-table-list"></i>
              <h5>{% trans 'Assets and Service Orders' %}</h5>
            </div>
            <img src="{% static 'assets/img/illustrations/windows.svg' %}" alt="dashboard" style="width: 8rem" />
          </div>
        </div>
      </a>
    </div>

    {% if request.user.is_verified_holder %}
    <div class="col-md-4 mb-4">
      <a class="card lift h-100" href="{% url 'assets_location:add_asset_location' %}">
        <div class="card-body d-flex justify-content-center flex-column">
          <div class="d-flex align-items-center justify-content-between">
            <div class="me-3">
              <i class="feather-xl text-green mb-3 fa-solid fa-folder-plus"></i>
              <h5>{% trans 'Add New Asset' %}</h5>
            </div>
            <img src="{% static 'assets/img/illustrations/browser-stats.svg' %}" alt="new historical asset"
              style="width: 8rem" />
          </div>
        </div>
      </a>
    </div>
    {% endif %}

    <div class="col-md-4 mb-4">
      <a class="card lift h-100"
        href="https://wa.me/573012283818?text=Necesito soporte con la plataforma Gea, mi usuario es {{ request.user.username }}"
        target="_blank" rel="noopener noreferrer">
        <div class="card-body d-flex justify-content-center flex-column">
          <div class="d-flex align-items-center justify-content-between">
            <div class="me-3">
              <i class="feather-xl text-secondary mb-3" data-feather="headphones"></i>
              <h5>{% trans 'Booking' %}</h5>
              <div class="text-muted small">
                {% blocktrans %}Do you need help?{% endblocktrans %}
              </div>
            </div>
            <img src="{% static 'assets/img/illustrations/processing.svg' %}" alt="support" style="width: 8rem" />
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-8">


      <div class="card">
        <div class="card-header"
          style="background-image: linear-gradient(to bottom, #c79c44 0%, #c89d46 50%, #f4d88b 100%);">
          <h4 class="text-center text-dark">{% trans "Offer Summary" %}</h4>
        </div>
        <div class="card-body">

          {% if offer.asset.asset_img.url %}
          <div class="text-center mb-3" style="max-height: 300px;">
            <img src="{{ offer.asset.asset_img.url }}" alt="Asset Image" class="img-fluid" style="max-height: 300px;" />
          </div>
          {% endif %}

          <p><strong>{% trans "Asset" %}:</strong> {{ offer.asset_display_name }}</p>
          <p><strong>{% trans "Category" %}:</strong> {{ offer.asset.category }}</p>
          <p><strong>{% trans "Offer Type" %}:</strong> {{ offer.get_offer_type_display }}</p>
          <p><strong>{% trans "Quantity Type" %}:</strong> {{ offer.get_quantity_type_display }}</p>
          {% if offer.offer_amount and user.user_type == "B" %}
          <p><strong>{% trans "Total value of the offer ($ USD)" %}:</strong> {{ offer.offer_amount|currency }}</p>
          {% endif %}
          <p><strong>{% trans "Offer Quantity" %}:</strong> {{ offer.offer_quantity }}</p>
          <p><strong>{% trans "Country of Purchase" %}:</strong> {{ offer.buyer_country }}</p>


          {% if offer.en_observation and user.user_type == "B" %}
          <p><strong>{% trans "Observation (EN)" %}:</strong> {{ offer.en_observation }}</p>
          {% endif %}

          {% if offer.es_observation and user.user_type == "B" %}
          <p><strong>{% trans "Observation (ES)" %}:</strong> {{ offer.es_observation }}</p>
          {% endif %}


          {% if offer.en_description and user.user_type == "B" %}
          <p><strong>{% trans "Description (EN)" %}:</strong> {{ offer.en_description }}</p>
          {% endif %}

          {% if offer.es_description and user.user_type == "B" %}
          <p><strong>{% trans "Description (ES)" %}:</strong> {{ offer.es_description }}</p>
          {% endif %}


          {% if offer.asset.en_description and user.user_type == "B" %}
          <p><strong>{% trans "Asset Description (EN)" %}:</strong> {{ offer.asset.en_description }}</p>
          {% endif %}

          {% if offer.asset.es_description and user.user_type == "B" %}
          <p><strong>{% trans "Asset Description (ES)" %}:</strong> {{ offer.asset.es_description }}</p>
          {% endif %}


          {% if offer.asset.en_observations and user.user_type == "B" %}
          <p><strong>{% trans "Asset Observation (EN)" %}:</strong> {{ offer.asset.en_observations }}</p>
          {% endif %}

          {% if offer.asset.es_observations and user.user_type == "B" %}
          <p><strong>{% trans "Asset Observation (ES)" %}:</strong> {{ offer.asset.es_observations }}</p>
          {% endif %}

        </div>

        <div class="card-footer">
          <div class="d-grid gap-2">

            {% if user.user_type == "B" %}
            <a href="{% url 'buyers:buyer_index' %}" class="btn btn-outline-gold" rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-left mx-1"></i> {% trans 'Go to my Purchase Orders' %}
            </a>
            {% else %}
            <a href="{% url 'assets:holder_index' %}" class="btn btn-outline-gold" rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-left mx-1"></i> {% trans 'Go to my Assets' %}
            </a>
            {% endif %}



          </div>
        </div>

      </div>

    </div>

    <div class="col-md-4">

      <div class="card">
        <div class="card-header"
          style="background-image: linear-gradient(to bottom, #c79c44 0%, #c89d46 50%, #f4d88b 100%);">
          <h4 class="text-center text-dark">{% trans "Timeline" %}</h4>
        </div>

        <div class="card-body">

          <div class="timeline">

            {# ===== Purchase Order ===== #}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-indicator
                            {% if offer.created and offer.reviewed_by_timestamp and offer.approved_by_timestamp %}
                              bg-success-soft text-success
                            {% elif offer.created or offer.reviewed_by_timestamp or offer.approved_by_timestamp %}
                              bg-warning-soft text-warning
                            {% else %}
                              bg-danger-soft text-danger
                            {% endif %}">
                  <i data-feather="shopping-bag"></i>
                </div>
              </div>
              <div class="timeline-item-content">
                <p class="text-dark">{% trans 'Purchase Order' %}</p>
                <div class="timeline timeline-xs">
                  <!-- Created -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div class="timeline-item-marker-indicator {{ offer.created|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Purchase Order Created' %}<br />
                      {{ offer.created|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.created_by %}<small>@{{ offer.created_by.get_full_name|default:offer.created_by.username }}</small>{% endif %}
                    </div>
                  </div>

                  <!-- Reviewed -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.reviewed_by_timestamp|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Purchase Order Reviewed' %}<br />
                      {{ offer.reviewed_by_timestamp|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.reviewed_by %}<small>@{{ offer.reviewed_by.get_full_name|default:offer.reviewed_by.username }}</small>{% endif %}
                    </div>
                  </div>

                  <!-- Approved -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.approved_by_timestamp|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Purchase Order Approved' %}<br />
                      {{ offer.approved_by_timestamp|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.approved_by %}<small>@{{ offer.approved_by.get_full_name|default:offer.approved_by.username }}</small>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {# ===== Service Order ===== #}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-indicator
                            {% if offer.service_order_sent_at %}
                              bg-success-soft text-success
                            {% elif offer.created %}
                              bg-warning-soft text-warning
                            {% else %}
                              bg-danger-soft text-danger
                            {% endif %}">
                  <i data-feather="paperclip"></i>
                </div>
              </div>
              <div class="timeline-item-content">
                <p class="text-dark">{% trans 'Service Order' %}</p>
                <div class="timeline timeline-xs">
                  <!-- Created (referencia al created del Offer) -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div class="timeline-item-marker-indicator {{ offer.created|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Service Order Created' %}<br />
                      {{ offer.created|date:"d/m/Y H:i"|default:"..." }}
                    </div>
                  </div>

                  <!-- Sent -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.service_order_sent_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Service Order Sent' %}<br />
                      {{ offer.service_order_sent_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.service_order_sent_by %}<small>@{{ offer.service_order_sent_by.get_full_name|default:offer.service_order_sent_by.username}}</small>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% if request.user.is_buyer or request.user.is_superuser %}
            {# ===== Payment Order ===== #}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-indicator
                            {% if offer.payment_order_sent_at %}
                              bg-success-soft text-success
                            {% elif offer.payment_order_created_at %}
                              bg-warning-soft text-warning
                            {% else %}
                              bg-danger-soft text-danger
                            {% endif %}">
                  <i data-feather="dollar-sign"></i>
                </div>
              </div>
              <div class="timeline-item-content">
                <p class="text-dark">{% trans 'Payment Order' %}</p>
                <div class="timeline timeline-xs">
                  <!-- Created -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.payment_order_created_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Payment Order Created' %}<br />
                      {{ offer.payment_order_created_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.payment_order_created_by %}<small>@{{ offer.payment_order_created_by.get_full_name|default:offer.payment_order_created_by.username }}</small>{% endif %}
                    </div>
                  </div>

                  <!-- Sent -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.payment_order_sent_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Payment Order Sent' %}<br />
                      {{ offer.payment_order_sent_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.payment_order_sent_by %}<small>@{{ offer.payment_order_sent_by.get_full_name|default:offer.payment_order_sent_by.username }}</small>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {# ===== Asset Sent ===== #}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-indicator
                            {% if offer.asset_sent_at %}
                              bg-success-soft text-success
                            {% elif offer.asset_in_possession_at %}
                              bg-warning-soft text-warning
                            {% else %}
                              bg-danger-soft text-danger
                            {% endif %}">
                  <i data-feather="send"></i>
                </div>
              </div>
              <div class="timeline-item-content">
                <p class="text-dark">{% trans 'Asset Sent' %}</p>
                <div class="timeline timeline-xs">
                  <!-- In possession -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.asset_in_possession_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Asset In Possession' %}<br />
                      {{ offer.asset_in_possession_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.asset_in_possession_by %}<small>@{{ offer.asset_in_possession_by.get_full_name|default:offer.asset_in_possession_by.username }}</small>{% endif %}
                    </div>
                  </div>

                  <!-- Sent -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.asset_sent_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Asset Sent' %}<br />
                      {{ offer.asset_sent_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.asset_sent_by %}<small>@{{ offer.asset_sent_by.get_full_name|default:offer.asset_sent_by.username }}</small>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {# ===== Profitability ===== #}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-indicator
                            {% if offer.profitability_paid_at %}
                              bg-success-soft text-success
                            {% elif offer.profitability_created_at %}
                              bg-warning-soft text-warning
                            {% else %}
                              bg-danger-soft text-danger
                            {% endif %}">
                  <i data-feather="trending-up"></i>
                </div>
              </div>
              <div class="timeline-item-content">
                <p class="text-dark">{% trans 'Profitability' %}</p>
                <div class="timeline timeline-xs">
                  <!-- Created -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.profitability_created_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Profitability Created' %}<br />
                      {{ offer.profitability_created_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.profitability_created_by %}<small>@{{ offer.profitability_created_by.get_full_name|default:offer.profitability_created_by.username }}</small>{% endif %}
                    </div>
                  </div>

                  <!-- Paid -->
                  <div class="timeline-item">
                    <div class="timeline-item-marker">
                      <div
                        class="timeline-item-marker-indicator {{ offer.profitability_paid_at|yesno:'bg-success,bg-danger' }}">
                      </div>
                    </div>
                    <div class="timeline-item-content">
                      {% trans 'Profitability Paid' %}<br />
                      {{ offer.profitability_paid_at|date:"d/m/Y H:i"|default:"..." }}<br />
                      {% if offer.profitability_paid_by %}<small>@{{ offer.profitability_paid_by.get_full_name|default:offer.profitability_paid_by.username }}</small>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            {# ===== End ===== #}
            <div class="timeline-item">
              <div class="timeline-item-marker">
                <div class="timeline-item-marker-indicator
                            {% if offer.profitability_paid_at or offer.asset_sent_at or offer.payment_order_sent_at %}
                              bg-success-soft text-success
                            {% elif offer.created %}
                              bg-warning-soft text-warning
                            {% else %}
                              bg-danger-soft text-danger
                            {% endif %}">
                  <i data-feather="lock"></i>
                </div>
              </div>
              <div class="timeline-item-content">
                <p class="text-dark">{% trans 'End' %}</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}