{% extends 'dashboard/layout/base.html' %}

{% load i18n static custom_filters %}

{% block simple_datatables %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock simple_datatables %}

{% block layout_main %}

{% include 'dashboard/pages/assets_management/assets/holders/partials/header.html' %}

<div class="container-xl px-4 mt-n10">
  {% if request.user.user_type in 'HRI' %}
  {% include 'dashboard/pages/assets_management/partials/header_cards.html' %}
  {% endif %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">{% trans "Offer Summary" %}</h4>
        </div>
        <div class="card-body">
          
          <p><strong>{% trans "Asset" %}:</strong> {{ offer.asset_display_name }}</p>
          <p><strong>{% trans "Offer Type" %}:</strong> {{ offer.get_offer_type_display }}</p>
          <p><strong>{% trans "Quantity Type" %}:</strong> {{ offer.get_quantity_type_display }}</p>
          {% if offer.en_observation and user.user_type == "B" %}
          <p><strong>{% trans "Total value of the offer ($ USD)" %}:</strong> {{ offer.offer_amount|currency }}</p>
          {% endif %}
          <p><strong>{% trans "Offer Quantity" %}:</strong> {{ offer.offer_quantity }}</p>
          <p><strong>{% trans "Country of Purchase" %}:</strong> {{ offer.buyer_country }}</p>


          {% if offer.en_observation and user.user_type == "B" %}
            <p><strong>{% trans "Observation (EN)" %}:</strong> {{ offer.en_observation }}</p>
          {% endif %}

          {% if offer.es_observation and user.user_type == "B" %}
            <p><strong>{% trans "Observation (ES)" %}:</strong> {{ offer.es_observation }}</p>
          {% endif %}


          {% if offer.en_description and user.user_type == "B" %}
            <p><strong>{% trans "Description (EN)" %}:</strong> {{ offer.en_description }}</p>
          {% endif %}

          {% if offer.es_description and user.user_type == "B" %}
            <p><strong>{% trans "Description (ES)" %}:</strong> {{ offer.es_description }}</p>
          {% endif %}

        </div>

        <div class="card-footer">
          <div class="d-grid gap-2">

            {% if user.user_type == "B" %}
            <a href="{% url 'buyers:buyer_index' %}" class="btn btn-outline-success"
              rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-left mx-1"></i> {% trans 'Go to my Purchase Orders' %}
            </a>
            {% else %}
            <a href="{% url 'assets:holder_index' %}" class="btn btn-outline-success"
              rel="noopener noreferrer">
              <i class="fa-solid fa-arrow-left mx-1"></i> {% trans 'Go to my Assets' %}
            </a>
            {% endif %}



          </div>
        </div>


      </div>
    </div>
  </div>
</div>
{% endblock %}