{% extends 'dashboard/layout/base.html' %}

{% load i18n static custom_filters %}

{% block simple_datatables %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock simple_datatables %}

{% block layout_main %}
{% include 'dashboard/pages/assets_management/assets/holders/partials/header.html' %}

<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4" id="create_offer">
                <div class="card-header">
                    <h2>{% trans 'Edit Offer' %}</h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media.css }}
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.asset.id_for_label }}" class="form-label">{% trans "Asset:" %}</label>
                                    {{ form.asset|add_class:"form-select" }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.offer_type.id_for_label }}" class="form-label">{% trans "Offer Type:" %}</label>
                                    {{ form.offer_type|add_class:"form-select" }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.quantity_type.id_for_label }}" class="form-label">{% trans "Quantity Type:" %}</label>
                                    {{ form.quantity_type|add_class:"form-select" }}
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.offer_amount.id_for_label }}" class="form-label">{% trans "Value Offered Individually ($ USD):" %}</label>
                                    {{ form.offer_amount|add_class:"form-control" }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.offer_quantity.id_for_label }}" class="form-label">{% trans "Quantity required:" %}</label>
                                    {{ form.offer_quantity|add_class:"form-control" }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.buyer_country.id_for_label }}" class="form-label">{% trans "Country of Purchase:" %}</label>
                                    {{ form.buyer_country|add_class:"form-select" }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.en_observation|add_attrs:"class=form-control" }}
                                    <label for="{{ form.en_observation.id_for_label }}" class="form-label">{% trans 'Observations (EN):' %}</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.es_observation|add_class:"form-control" }}
                                    <label for="{{ form.es_observation.id_for_label }}" class="form-label">{% trans "Observations (ES):" %}</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.en_description|add_class:"form-control" }}
                                    <label for="{{ form.en_description.id_for_label }}" class="form-label">{% trans "Description (EN):" %}</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.es_description|add_class:"form-control" }}
                                    <label for="{{ form.es_description.id_for_label }}" class="form-label">{% trans "Description (ES):" %}</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success">
                                {% trans "Save Offer" %}
                            </button>
                            <a href="{% url 'buyers:buyer_index' %}" class="btn btn-warning">{% trans 'Go to my offers' %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block body_custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}

{% block simple_datatables_js %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
<script src="{% static 'assets/js/dashboard/datatables/simple-datatable.js' %}"></script>
{% endblock %}