{% extends 'core/base.html' %}

{% load static i18n %}

{% trans 'Secure platform for historical assets' as gea_title %}

{% block title %}
  <!-- Title (60 caracteres) -->
  GEA | {{ gea_title }}
{% endblock %}

{% block meta %}
  <!-- Robots -->
  <meta content="noindex, nofollow" name="robots" />
  <meta content="noindex, nofollow" name="googlebot" />

  <!-- Title (60 caracteres) -->
  <meta name="title" content="GEA | {{ gea_title }}" />

  <!-- Description (155 160 caracteres) -->
  <meta name="description" content="{% trans 'Comprehensive and secure platform for the purchase and sale of US historical assets. Official, exclusive and trusted.' %}" />

  <!-- Keywords (no muy usado, opcional) -->
  <meta name="keywords" content="GEA, historical assets, secure platform, legal, US assets" />

  <!-- Author -->
  <meta name="author" content="propensionesabogados.com" />

  <!-- Open Graph / Facebook -->
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GEA GLOBAL ALLIANCE USA" />
  <meta property="og:title" content="GEA | {{ gea_title }}" />
  <meta property="og:description" content="{% trans 'Official and exclusive platform for the purchase and sale of US historical assets.' %}" />
  <meta property="og:url" content="https://globalallianceusa.com/gea/" />
  <meta property="og:image" content="{% static 'assets/imgs/logos/gea_logo.webp' %}" />
  <meta property="og:image:type" content="image/webp" />
  <meta property="og:image:alt" content="GEA Logo" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@GEA" />
  <meta name="twitter:creator" content="@GEA" />
  <meta name="twitter:title" content="GEA | {{ gea_title }}" />
  <meta name="twitter:description" content="{% trans 'Exclusive and official platform for the secure purchase of US historical assets.' %}" />
  <meta name="twitter:image" content="{% static 'assets/imgs/logos/gea_logo.webp' %}" />
  <meta name="twitter:image:alt" content="GEA Logo" />

  <!-- Mobile -->
  <meta name="theme-color" content="#ffffff" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="GEA" />

  <!-- PWA/Manifest -->
  <link rel="manifest" href="{% static 'manifest.json' %}" />
{% endblock %}

{% block custom_css %}
  <link rel="preload" href="{% static 'css/hero.css' %}" as="style" />
  <link rel="stylesheet" href="{% static 'css/hero.css' %}" />
{% endblock %}

{% block header %}
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      <!-- Logo -->
      <a href="{% url 'core:index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="https://globalallianceusa.com/gea/public/static/assets/imgs/logos/gea_logo.webp" alt="GEA horizontal logo" /></a>

      <!-- Nav -->
      <nav id="navmenu" class="navmenu">
        <ul>
          {% if request.path != '/' %}
            <li>
              <a href="{% url 'core:index' %}#hero" class="active">{% trans 'Home' %}</a>
            </li>
          {% endif %}

          <!-- Idiomas -->
          <li class="dropdown">
            <a href="#"><i class="bi bi-translate mx-1"></i> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              {% for lang in LANGUAGES %}
                <li>
                  <a class="dropdown-item text-capitalize" href="{% url 'set_language' %}?lang={{ lang.0 }}">{{ lang.1 }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>

          <!-- Bloque Auth -->
          {% if request.user.is_authenticated %}
            {% if request.user.is_asset_holder or request.user.is_superuser %}
              <li>
                <a href="{% url 'assets:holder_index' %}">{% trans 'Client Area' %}</a>
              </li>
            {% endif %}

            {% if request.user.is_buyer or request.user.is_superuser %}
              <li>
                <a href="{% url 'buyers:buyer_index' %}">{% trans 'Buyer' %}</a>
              </li>
            {% endif %}

            <li>
              <a href="{% url 'account:logout' %}" class="text-danger">{% trans 'LOGOUT' %}</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'two_factor:login' %}" class="text-success">{% trans 'LOGIN' %}</a>
            </li>
            <li>
              <a href="{% url 'account:register' %}" class="text-primary">{% trans 'REGISTER' %}</a>
            </li>
          {% endif %}
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>
{% endblock %}

{% block main %}
  <main class="main">
    <!-- Hero Section -->
    <div id="hero" class="hero">
      <div class="hero-video">
        <video autoplay muted loop playsinline>
          <!-- Video para móviles (9:16) -->
          <source src="https://globalallianceusa.com/gea/public/static/assets/video/hero/hero-video-mobile.mp4" type="video/mp4" media="(max-aspect-ratio: 9/16)" />
          <!-- Video para pantallas grandes (16:9) -->
          <source src="https://globalallianceusa.com/gea/public/static/assets/video/hero/hero-video.mp4" type="video/mp4" media="(min-aspect-ratio: 16/9)" />Tu navegador no soporta video en HTML5.
        </video>
      </div>
    </div>
    <!-- /Hero Section -->
  </main>
{% endblock %}
