/* Custom colors */
:root {
  --custom-gold-high: #c79c44;
  --custom-gold-medium: #dbac4d;
  --custom-gold-low: #f4d88b;
}

.btn-outline-gold {
  --bs-btn-color: #000;
  --bs-btn-border-color: var(--custom-gold-high);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--custom-gold-low);
  --bs-btn-hover-border-color: var(--custom-gold-high);
  --bs-btn-focus-shadow-rgb: 199, 156, 68;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--custom-gold-low);
  --bs-btn-active-border-color: var(--custom-gold-high);
  --bs-btn-disabled-color: var(--custom-gold-medium);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--custom-gold-high);
  --bs-gradient: none;
}