{% load i18n %}

<div class="col-12 col-md-6 col-lg-4">
  <a href="{{ url }}" class="text-decoration-none">
    <div class="card h-100 border-0 shadow-sm hover-card">
      <div class="card-body text-center">
        <div>
          <i class="bi {{ icon }} fs-1 {{ icon_color }}"></i>
        </div>

        <h5 class="card-title fw-semibold">{{ title }}</h5>

        <p class="card-text text-muted small">{{ description }}</p>

        <a href="{{ url }}" class="btn {{ button_class }} btn-sm mt-3">{% trans 'Verify certificate' %}</a>
      </div>
    </div>
  </a>
</div>
