{% extends 'raw.html' %}

{% load static i18n %}

{% block title %}
  <title>{% trans 'Certifications' %}</title>
{% endblock %}

{% block main %}
<style>
.hover-card {
    transition: transform .15s ease, box-shadow .15s ease;
}

.hover-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.15);
}
</style>

<div class="container-md min-vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow-sm">

        {% url 'core:index' as landing_url %}
        {% include 'dashboard/pages/certificates/includes/aegis_header.html' with url=landing_url %}

        <div class="card-body">

            {# ================= TITLE ================= #}
            {% comment %} <div class="text-center mb-5">
                <h1 class="fw-bold">
                    {% trans 'Available Certifications' %}
                </h1>
                <p class="text-muted">
                    {% trans 'Select the type of certification you wish to verify.' %}
                </p>
            </div> {% endcomment %}

            <div class="my-4">
                <h2 class="fw-semibold text-center">
                    {% trans "ACTIVE STANDBY MODE" %}
                </h2>
                
                <p>
                    {% blocktrans %}
                    By order of the General Director and by virtue of Internal Resolution No. <a href="https://propensionesabogados.com/INTERNAL_RESOLUTION_No_PI_X92_003_2026.pdf" target="_blank" rel="noopener noreferrer">PI‑X92‑003‑2026</a>, issued by Propensiones Abogados Internacional S.A.S.
                    {% endblocktrans %}
                </p>
                <p>
                    {% trans "The platform remains active in strategic standby mode, with limited functionality and restricted access." %}
                </p>
                <p>
                    {% trans "Its full reactivation will depend on direct orders from the legal high command." %}
                </p>
                <p class="text-muted text-center">
                    <small>
                        {% trans '"Only those who master time, master the outcome."' %}
                    </small>
                </p>
            </div>

            {# ================= GRID ================= #}
            <div class="row g-4">
                {% for cert in certificates %}
                    {% include "dashboard/pages/certificates/partials/_certificate_card.html" with title=cert.title description=cert.description icon=cert.icon icon_color=cert.icon_color button_class=cert.button_class url=cert.url %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
