{% load i18n static %}
<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="{% url 'core:index' %}">
        <img src="https://globalallianceusa.com/gea/public/static/assets/imgs/logos/gea_logo.webp" alt="" style="height:50px">
    </a>
    
    <ul class="navbar-nav align-items-center ms-auto">

        {% comment %}
            {% include 'dashboard/partials/nav/documentation.html' %}
        {% endcomment %}

        {% comment %}
            {% include 'dashboard/partials/nav/alerts.html' %}
        {% endcomment %}

        {% comment %}
            {% include 'dashboard/partials/nav/messages.html' %}
        {% endcomment %}

        {% include 'dashboard/partials/nav/user.html' %}
        
    </ul>

</nav>