{% load static i18n %}

<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <!-- Logo -->
    <a href="{% url 'core:index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="https://propensionesabogados.com/static/assets/imgs/GEA/gea%20logo.webp" alt="GEA horizontal logo" />
    </a>

    <!-- Nav -->
    <nav id="navmenu" class="navmenu">
      <ul>

        {% if request.path != "/" %}
        <li>
          <a href="{% url 'core:index' %}#hero" class="active">{% trans 'Home' %}</a>
        </li>
        {% endif %}

        <!-- Idiomas -->
        <li class="dropdown">
          <a href="#"><i class="bi bi-translate mx-1"></i> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            {% for lang in LANGUAGES %}
            <li>
              <a class="dropdown-item text-capitalize" href="{% url 'set_language' %}?lang={{ lang.0 }}">
                {{ lang.1 }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>

        <!-- Bloque Auth -->
        {% if request.user.is_authenticated %}
        {% if request.user.is_asset_holder or request.user.is_superuser %}
        <li><a href="{% url 'assets:holder_index' %}">{% trans 'Client Area' %}</a></li>
        {% endif %}

        {% if request.user.is_buyer or request.user.is_superuser %}
        <li><a href="{% url 'buyers:buyer_index' %}">{% trans 'Buyer' %}</a></li>
        {% endif %}

        <li><a href="{% url 'account:logout' %}" class="text-danger">{% trans 'LOGOUT' %}</a></li>
        {% else %}
        <li><a href="{% url 'two_factor:login' %}" class="text-success">{% trans 'LOGIN' %}</a></li>
        <li><a href="{% url 'account:register' %}" class="text-primary">{% trans 'REGISTER' %}</a></li>
        {% endif %}
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>