{% load i18n static %}

<!-- Hero Section -->
<div id="hero" class="hero hv-100">
  <div class="hero-video position-absolute top-0 start-0 w-100 h-100">
    <img src="https://propensionesabogados.com/static/assets/imgs/GEA/hero-video-gea.gif" alt="Hero background"
      class="w-100 h-100 object-fit-cover">
  </div>

  <!-- Contenedor principal con flex -->
  <div class="hero-inner position-relative z-2 text-white h-100 d-flex flex-column d-none d-md-flex">
    <!-- Contenido principal -->
    <div class="flex-grow-1 d-flex align-items-end">
      <div class="container hero-content mb-4 mx-5 row"> <!-- le das un margen para que no quede pegado al footer -->
        <h3 class="mb-3 col-6 hero-title" style="color: rgb(249 244 27)">
          {% blocktrans %}
          Exclusive Platform for the Official Purchase of Historical Assets of the United States.
          {% endblocktrans %}
        </h3>
        <h4 class="mb-3 col-8 text-white hero-title">
          {% blocktrans %}
          This platform is governed by the USA PATRIOT Act (2001) and rejects any relationship
          with terrorism, drug trafficking, and money laundering or illicit asset operations.
          {% endblocktrans %}
        </h4>
      </div>
    </div>

    <!-- Footer abajo -->
    <div class="hero-footer">
      <div class="g-0 text-white py-2"
        style="background: linear-gradient(to right, #c79c44, #c89d46, #f4d88b, #c89d46, #c79c44);">
        <div class="row mx-3">
          <!-- Columna izquierda -->
          <div class="col-md-3">
            <span class="mb-0 text-uppercase hero-text" style="color:black;">
              PRIVATE ALLIANCE USA (RECOVERY REPATRIATION FOUNDATION, AM PRO HOLDINGS GROUP LLC AND
              PROPENSIONES ABOGADOS INTERNACIONAL). OFFICIAL APPOINTMENT #F991, 07 JULY 2025 SIGNED AND AUTHENTICATED IN
              FLORIDA, USA # F991, 07 JULY 2025 SIGNED AND AUTHENTICATED IN FLORIDA, USA
            </span>
          </div>
          <!-- Columna central con imagen -->
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/imgs/logo_alliance.png' %}" alt="Footer logo" class="img-fluid"
              style="max-height:130px;">
          </div>
          <!-- Columna derecha -->
          <div class="col-md-3 d-flex align-items-center justify-content-center">
            <span class="mb-0 text-uppercase hero-text" style="color:black;">
              GLOBAL ALLIANCE (AM PRO HOLDINGS GROUP LLC AND PROPENSIONES ABOGADOS INTERNACIONAL).
              OFFICIAL APPOINTMENT #M9Q0, 04 AUGUST 2025 SIGNED AND AUTHENTICATED IN QUEENS SUPREME COURT IN NEW YORK,
              USA
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Hero Section -->