{% extends 'raw.html' %}

{% load static i18n %}

{% block canonical %}
  <link href="https://gea.propensionesabogados.com/" rel="canonical" />
  <link href="https://gea.propensionesabogados.com/" hreflang="x-default" rel="alternate" />
  <link href="https://gea.propensionesabogados.com/" hreflang="{{ LANGUAGE_CODE }}" rel="alternate" />
{% endblock %}

{% block favicon %}
    <link rel="icon" type="image/png" href="https://propensionesabogados.com/static/assets/imgs/GEA/favicon_gea.webp" sizes="96x96" />
    <meta name="apple-mobile-web-app-title" content="GEA" />
{% endblock %}

{% block bootstrap_js %}
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block custom_css %}
  <link href="{% static 'assets/css/dashboard/styles.css' %}" rel="stylesheet" />
{% endblock %}

{% block custom_js %}
  <script src="{% static 'assets/js/dashboard/scripts.js' %}"></script>
{% endblock %}
