{% extends "raw.html" %}

{% load static i18n %}

{% block title %}
<title>POL | {% trans "Proof of Life" %}</title>
{% endblock title %}

{% block icons %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock icons %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

{% block main %}
    <main class="min-vh-100">

        <img src="https://globalallianceusa.com/gea//static/assets/imgs/CompraSoberana.webp" alt="Compra Soberana"
            class="img-fluid w-100 mb-4 rounded">

        <div class="container">
            <h1 class="my-4 text-center">{% trans "POL" %}</h1>

            <form method="post" novalidate>
                {% csrf_token %}

                <div class="row">
                    {% for field in form.visible_fields %}
                    {% if field.name != "pol_confirmed" %}
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% for error in field.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3 form-check">
                    {{ form.pol_confirmed }}
                    <label class="form-check-label" for="{{ form.pol_confirmed.id_for_label }}">
                        {{ form.pol_confirmed.label }}
                    </label>
                    {% for error in form.pol_confirmed.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <ul class="mb-0">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Send" %} <i class="bi bi-check2-circle"></i>
                    </button>
                </div>
            </form>
        </div>

    </main>
{% endblock main %}