{% extends 'dashboard/pages/documents/certificates/certificate_base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Certificate Details' %}{% endblock title %}

{% block main %}
<div class="container mt-5 min-vh-100">
    <div class="mx-auto">
        <div class="text-center mb-4">
            <h1>{% trans 'Sovereign Verification' %}</h1>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="row text-center">
                    <div class="col-sm-6 col-md-12 text-center">
                        <img src="{% static 'assets/imgs/account/sello propensiones compra USA.png' %}" alt="Certificate Badge" class="mb-4" style="max-width: 150px;">
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <img id="qr-code" src="{{ qr_code }}" alt="QR Code" class="img-fluid" style="max-width: 150px;">
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div>
                    <h2>{{ certificate.name }} {{ certificate.last_name }}</h2>
                    <p class="mb-1"><strong>{% trans 'ID Number:' %}</strong> {{ certificate.masked_document_number }}</p>
                    <p class="mb-1"><strong>{% trans 'Certificate ID:' %}</strong> {{ certificate.id }}</p>
                    {% if certificate.approved %}
                        <h3 class="text-success">{% trans 'Approved' %}</h3>
                    {% else %}
                        <h3 class="text-danger">{% trans 'Not Approved' %}</h3>
                    {% endif %}
                    <hr>
                    {% if certificate.approved %}
                        <p class="text-justify">
                            {% blocktrans with name=certificate.name last_name=certificate.last_name document_type=certificate.document_type masked_document_number=certificate.masked_document_number %}
                                <strong>{{ name }} {{ last_name }}</strong> with document <strong>{{ document_type }}</strong> and number <strong>{{ masked_document_number }}</strong>
                                was duly registered to participate in the sovereign purchase of the United States after the corresponding verification,
                                it is declared that it fully complied with the requirements demanded by the process and demonstrated that it was suitable to belong to this operation.
                                <br/>
                                For the record, this is signed on
                            {% endblocktrans %} {{ certificate.approval_date|date:"d/m/Y" }} {% trans 'in Quindío, Republic of Colombia.' %}
                        </p>
                    {% else %}
                        <p class="text-justify">
                            <strong>{{ certificate.name }} {{ certificate.last_name }}</strong>
                            {% trans 'with document number' %} {{ certificate.document_type }} {{ certificate.masked_document_number }}
                            {% blocktrans %}
                                we inform you that, after the evaluation conducted, your security study <span class="text-danger">HAS NOT BEEN APPROVED</span> due to not meeting the suitability requirements according to the current security regulations.
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                    <p>
                        <small>
                            {% blocktrans %}
                            We remind you that, in accordance with the provisions of the Habeas Data Law, all your personal data has been treated with due confidentiality and is protected under the strictest security standards, guaranteeing its integrity and privacy. Your data will be used exclusively for authorized purposes and within the framework of current data protection regulations.
                            {% endblocktrans %}
                        </small>
                    </p>
                    <p>
                        <small>
                            {% blocktrans %}
                                The following clarification is made: the reproduction, publication, or any improper use of this certificate for requesting money or for fraudulent purposes will result in legal sanctions, in accordance with applicable national and international regulations. Furthermore, it is warned that such conduct will lead to immediate expulsion and total disqualification, both present and future, from any participation in programs, benefits, or related agreements.
                            {% endblocktrans %}
                        </small>
                    </p>
                    <p class="fw-bold">
                        <small>
                            {% trans 'Regulatory References:' %}
                        </small>
                    </p>
                    <small>
                        <ul>
                            <li>
                                <span class="fw-bold">{% trans '"Legal Warning on the Use and Reproduction of Certificates"' %}</span>
                                {% blocktrans %}
                                United Nations Convention against Corruption (UNCAC): Article 15 and subsequent provisions, applicable to acts of forgery and misuse of official documents.
                                {% endblocktrans %}
                            </li>

                            <li>
                                <span class="fw-bold">{% trans 'International Criminal Code (Rome Statute): ' %}</span>
                                {% blocktrans %}
                                Related to fraud, forgery, and violations of international ethical standards.
                                {% endblocktrans %}
                            </li>

                            <li>
                                <span class="fw-bold">{% trans 'Internal Regulations of the Fund/Organization: ' %}</span>
                                {% blocktrans %}
                                In accordance with contractual clauses and specific regulations governing user relationships.
                                {% endblocktrans %}
                            </li>
                        </ul>
                    </small>
                    <p>
                        <small>
                            <span class="fw-bold">{% trans 'Legal Warning: ' %}</span>
                            {% blocktrans %}
                            Any contrary act will result in the corresponding judicial actions, including reports to the competent authorities of the country and international organizations.
                            {% endblocktrans %}
                        </small>
                    </p>
                    <p>
                        {% trans 'Status:' %}
                        {% if certificate.approved %}
                            <i class="bi bi-check-circle text-success"></i>
                        {% else %}
                            <i class="bi bi-x-circle text-danger"></i>
                        {% endif %}
                    </p>
                    <div class="text-center">
                        <img id="barcode" src="{{ barcode }}" alt="Barcode" style="max-width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}