{% comment %}
<!-- 
_buyer_header.html

Parámetros esperados:
    icon_class: string (nombre del icono de feather icons)
    icon_data_feather (opcional): string (nombre del icono de feather icons para data-feather, si es distinto a icon_class)
    page_header_title: string (título principal del header)
    page_header_subtitle: string (subtítulo del header)

Ejemplos de uso:
    {% trans 'Create and Manage your Purchase Orders.' as create_and_manage_your_po %}
    {% include
        'dashboard/pages/assets_management/assets/buyers/partials/_buyer_header.html' with
        icon_class="me-2"
        icon_data_feather="file-text"
        page_header_title=purchase_orders
        page_header_subtitle=create_and_manage_your_po
    %}
-->
{% endcomment %}

{% load i18n static custom_filters %}

<header class="page-header page-header-dark pb-10"
    style="background-image: linear-gradient(to bottom, #5e5751 0%, #5a554a 50%, #383630 100%);">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            {% if icon_class and icon_data_feather %}
                                <i class="{{ icon_class }}" data-feather="{{ icon_data_feather }}"></i>
                            {% elif icon_class %}
                                <i class="{{ icon_class }}"></i>
                            {% endif %}
                        </div>
                        {{ page_header_title }}
                    </h1>
                    <div class="page-header-subtitle">{{ page_header_subtitle }}</div>
                </div>
            </div>
        </div>
    </div>
</header>