{% extends 'raw.html' %}

{% load i18n static %}

{% block icons %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa367a5aee.js" crossorigin="anonymous"></script>
{% endblock icons %}

{% block title %}<title>GEA | {{ title }}: {{ error }}</title>{% endblock title %}

{% block body_properties %}class="bg-white"{% endblock body_properties %}

{% block layout %}
<div id="layoutError">
  <div id="layoutError_content">
    <main>
      <div class="container-xl px-4">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="text-center mt-4">
              <img class="img-fluid p-4" src="{{ error_image }}" alt="" />
              <p class="lead">{{ status }} - {{ error }}</p>
              <p>
                {% if request.user.is_superuser %}
                {{ exception }}
                {% endif %}
              </p>
              <a class="text-arrow-icon" href="{% url 'core:index' %}">
                <i class="ms-0 me-1" data-feather="arrow-left"></i>
                {% trans 'HOME' %}
              </a>
              {% if attempt_count %}
                <p>{{ attempt_count }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutError_footer">
    {% include 'partials/footer/footer.html' %}
  </div>
</div>
{% endblock layout %}

{% block body_custom_js %}
<script src="{% static 'js/error_template.js' %}"></script>
{% endblock body_custom_js %}