{% extends 'raw.html' %}

{% load static i18n %}

{% block title %}<title>{% trans 'Verify IPCON Badge' %}</title>{% endblock title %}

{% block main %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card">

        {% include 'dashboard/pages/certificates/includes/header.html' %}

        <div class="card-body">
            <h1 class="text-center">{% trans 'Verify IPCON Badge' %}</h1>
            <p class="text-muted text-center small">
                    {% trans 'Enter the badge details to verify.' %}
                </p>
            <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            {{ form.non_field_errors }}

                            <div class="mb-3">
                                <label for="floatingDocumentType">{{ form.document_type.label }}</label>
                                <select name="{{ form.document_type.name }}"
                                        id="floatingDocumentType"
                                        class="form-select{% if form.document_type.errors %} is-invalid{% endif %}">
                                    {% for choice in form.document_type.field.choices %}
                                        <option value="{{ choice.0 }}"{% if choice.0 == form.document_type.value %}selected{% endif %}>
                                            {{ choice.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if form.document_type.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.document_type.errors.as_text }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label for="floatingIDNumber">{{ form.document_number.label }}</label>
                                <input type="text"
                                    name="{{ form.document_number.name }}"
                                    id="floatingIDNumber"
                                    class="form-control{% if form.document_number.errors %} is-invalid{% endif %}"
                                    placeholder="..."
                                    value="{{ form.document_number.value|default_if_none:'' }}">
                                {% if form.document_number.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.document_number.errors.as_text }}
                                    </div>
                                {% endif %}
                            </div>
                            
                        <button type="submit" class="btn btn-primary w-100">{% trans 'Verify' %}</button>
                        </div>
                    </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock main %}
