{% extends 'dashboard/layout/base.html' %}

{% load i18n static custom_filters %}

{% block layout_main %}
<header class="page-header page-header-dark pb-10"
    style="background-image: linear-gradient(to bottom, #5e5751 0%, #5a554a 50%, #383630 100%);">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon">
                            <i data-feather="activity"></i>
                        </div>
                        {% trans 'Dashboard' %}
                    </h1>
                    <div class="page-header-subtitle">{% trans 'Overview and content summary' %}</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-md-4 mb-4">
            <a class="card lift h-100" href="{% url 'assets:holder_index' %}">
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-3">
                            <i class="feather-xl text-primary mb-3 fa-solid fa-table-list"></i>
                            <h5>{% trans 'Assets and Service Orders' %}</h5>
                        </div>
                        <img src="{% static 'assets/img/illustrations/windows.svg' %}" alt="dashboard"
                            style="width: 8rem" />
                    </div>
                </div>
            </a>
        </div>

        {% if request.user.is_verified_holder %}
        <div class="col-md-4 mb-4">
            <a class="card lift h-100" href="{% url 'assets_location:add_asset_location' %}">
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-3">
                            <i class="feather-xl text-green mb-3 fa-solid fa-folder-plus"></i>
                            <h5>{% trans 'Add New Asset' %}</h5>
                        </div>
                        <img src="{% static 'assets/img/illustrations/browser-stats.svg' %}" alt="new historical asset"
                            style="width: 8rem" />
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        <div class="col-md-4 mb-4">
            <a class="card lift h-100"
                href="https://wa.me/573012283818?text=Necesito soporte con la plataforma Gea, mi usuario es {{ request.user.username }}"
                target="_blank" rel="noopener noreferrer">
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-3">
                            <i class="feather-xl text-secondary mb-3" data-feather="headphones"></i>
                            <h5>{% trans 'Booking' %}</h5>
                            <div class="text-muted small">
                                {% blocktrans %}Do you need help?{% endblocktrans %}
                            </div>
                        </div>
                        <img src="{% static 'assets/img/illustrations/processing.svg' %}" alt="support"
                            style="width: 8rem" />
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card my-3">
                <div class="card-header border-bottom">
                    <h3 class="text-center">{% trans 'Add New Location Reference' %}</h3>
                </div>


                <div class="card-body">
                    <form method="post">
                        {{ form.media.css }}
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="id_reference">{% trans 'Reference' %}</label>
                                    {{ form.reference|add_attrs:"class=form-control" }}
                                    {% if form.reference.errors %}
                                    <div class="text-danger mt-2">
                                        {{ form.reference.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="id_country">{% trans 'Country' %}</label>
                                    {{ form.country|add_attrs:"class=form-select" }}
                                    {% if form.country.errors %}
                                    <div class="text-danger mt-2">
                                        {{ form.country.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if LANGUAGE_CODE == "es" %}
                        <div class="form-floating mb-3">
                            {{ form.description_es|add_attrs:"class=form-control" }}
                            <label for="id_description_es">{% trans 'Description (ES)' %}</label>
                        </div>
                        {% else %}
                        <div class="form-floating mb-3">
                            {{ form.description_en|add_attrs:"class=form-control" }}
                            <label for="id_description_en">{% trans 'Description (EN)' %}</label>
                        </div>
                        {% endif %}

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success">
                                {% trans 'Add Location Reference' %}
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <p>
                        {% blocktrans %}
                        The Location Reference serves as a unique identifier to manage inventory across various
                        locations.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans %}
                        It allows differentiation between inventory located in the same country but in different areas,
                        inventory in different countries, or inventory in the same country as well as across multiple
                        countries.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}