{% extends 'raw.html' %}

{% load static i18n %}

{% block body_properties %}
class="nav-fixed"
{% endblock %}

{% block nav %}
  {% include 'dashboard/partials/nav.html' %}
{% endblock %}

{% block layout %}
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      {% block side_nav %}
        <div id="layoutSidenav_nav">
          {% include 'dashboard/partials/side_nav.html' %}
        </div>
      {% endblock %}
    </div>

    {% block side_content %}
      <div id="layoutSidenav_content">

        {% block layout_main %}{% endblock %}


        {% block layout_content %}{% endblock %}


        {% block layout_footer %}
          {% include 'dashboard/partials/footer.html' %}
        {% endblock %}
        
      </div>
    {% endblock %}
  </div>
{% endblock %}
