{% extends 'raw.html' %}

{% load static i18n %}

{% block body_properties %}
  class="nav-fixed"
{% endblock %}

{% block icons %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/aa367a5aee.js" crossorigin="anonymous"></script>
{% endblock %}

{% block nav %}
  {% include 'dashboard/partials/nav/dashboard_nav.html' %}
{% endblock %}

{% block layout %}
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      {% include 'dashboard/partials/sidenav/dashboard_sidenav.html' %}
    </div>
    <div id="layoutSidenav_content">
      <main>
        {% block main_layout %}
          {% url 'core:layout' as parent_url %}
          {% include 'dashboard/partials/header/_header.html' with page_title='Breadcrumbs' page_description='The custom page header supports and styles Bootstrap breadcrumbs' parent_url=parent_url parent_title='Dashboard' %}
        {% endblock %}
      </main>

      {% block main_layout_footer %}
        {% include 'partials/footer/footer.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/gold_button.css' %}">
{% endblock custom_css %}