{% load i18n static %}

<table id="locations_table">
  <thead>
    {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/partials/locations_th_tf.html' %}
  </thead>
  <tfoot>
    {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/partials/locations_th_tf.html' %}
  </tfoot>
  <tbody>
    {% for location in locations %}
    <tr>
      <td>
        {{ forloop.counter }}
      </td>

      <td>
        {{ location.reference }}
      </td>

      <td>
        {{ location.description }}
      </td>

      

      <td>
        {{ location.country.get_continent_display }}
      </td>

      <td>
        {% if LANGUAGE_CODE == "es" %}
        {{ location.country.es_country_name }}
        {% else %}
        {{ location.country.en_country_name }}
        {% endif %}
      </td>

      <td>
        {% if location.is_active %}
          <i class="fa-regular fa-circle-check mx-1 text-success"></i> {% trans 'Yes' %}
        {% else %}
          <i class="fa-regular fa-circle-xmark mx-1 text-danger"></i> {% trans 'No' %}
        {% endif %}
      </td>

      <td>
        <a href="{% url 'assets_location:update_location' location.id %}" class="btn btn-datatable btn-icon btn-outline-cyan" id="edit_location_{{ location.id }}">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>

        <button class="btn btn-datatable btn-icon btn-outline-danger" id="btn-modal-delete-location-reference"
          data-location-id="{{ location.id }}">
          <i class="fa-regular fa-trash-can"></i>
        </button>

        <a href="https://wa.me/573012283818?text=Podrían darme soporte con mi ubicación {{ location.reference }} en el país {{ location.country.es_country_name }}, mi usuario es {{ request.user.username }}"
          target="_blank" class="btn btn-datatable btn-icon btn-outline-success">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </td>
    </tr>
    {% empty %}

    {% endfor %}
  </tbody>
</table>