{% load i18n static custom_filters %}

<table id="offers_table">
  <thead>
      {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/partials/offers_th_tf.html' %}
  </thead>
  <tfoot>
      {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/partials/offers_th_tf.html' %}
  </tfoot>
  <tbody>
    {% for field in offers %}
        <tr>
          <td>
            {{ forloop.counter }}
          </td>

          <td>
            {% if field.asset.asset_img %}
              <img src="{{ field.asset.asset_img.url }}" alt="{{ field.asset.asset_name.en_name }}" class="img-thumbnail"
              style="width: auto; height: 50px;">
            {% else %}
              <img src="https://propensionesabogados.com/static/assets/imgs/GEA/favicon_gea.webp" alt="{{ field.asset.asset_name.en_name }}"
              class="img-thumbnail" style="width: 50px; height: 50px;">
            {% endif %}
          </td>

          {% if LANGUAGE_CODE == "es" %}
            <td>{{ field.asset.asset_name.es_name }}</td>
          {% else %}
            <td>{{ field.asset.asset_name.en_name }}</td>
          {% endif %}

          {% if LANGUAGE_CODE == "es" %}
            <td>{{ field.asset.category.es_name }}</td>
          {% else %}
            <td>{{ field.asset.category.en_name }}</td>
          {% endif %}

          <td>
            {{ field.get_offer_type_display }}
          </td>

          <td>
            {{ field.get_quantity_type_display }}
          </td>

          <td>
            {{ field.offer_quantity }}
          </td>

          <td>
            {{ field.buyer_country.get_continent_display }}
          </td>

          <td>
            {% if LANGUAGE_CODE == "es" %}
              {{ field.buyer_country.es_country_name }}
            {% else %}
              {{ field.buyer_country.en_country_name }}
            {% endif %}
          </td>

          <td>
            <a href="{% url 'buyers:offer_details' field.id %}" type="button" class="btn btn-datatable btn-icon btn-outline-info">
              <i class="fa-solid fa-circle-info"></i>
            </a>

            <!-- <a href="https://wa.me/573012283818?text=Quiero aplicar a la postura {{ field.asset.asset_name.es_name }} {{ field.id }}" class="btn btn-datatable btn-icon btn-outline-success">
              <i class="fa-brands fa-whatsapp"></i>
            </a> -->
          </td>
        </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>

