{% load i18n static custom_filters %}

<table id="offers_table">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans 'Asset' %}</th>
            <th>{% trans 'Purchase order Type' %}</th>
            <th>{% trans 'Quantity Type' %}</th>
            <th>{% trans 'Quantity Needed' %}</th>
            <th>{% trans 'Country' %}</th>
            <th>{% trans 'Total value of the offer ($ USD)' %}</th>
            <th>{% trans 'Approved' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{ offer.asset_display_name }}</td>

            <td>{{ offer.get_offer_type_display }}</td>

            <td>{{ offer.get_quantity_type_display }}</td>

            <td>{{ offer.offer_quantity }}</td>

            <td>{{ offer.buyer_country.get_continent_display }} - {{ offer.buyer_country.es_country_name }}</td>

            <td>{{ offer.offer_amount|currency }}</td>

            <td>
                {% if offer.is_approved and offer.is_active and offer.reviewed %}
                    <!-- Verde Aprobado + Activo + Revisado -->
                    <i class="fa-solid fa-check-double" style="color: green;" 
                    title="{% trans 'Approved' %}"></i>

                {% elif not offer.is_approved and offer.reviewed %}
                    <!-- Rojo Revisado pero no aprobado (activo o no, no importa) -->
                    <i class="fa-regular fa-circle-xmark" style="color: red;" 
                    title="{% trans 'NOT Approved' %}"></i>

                {% elif not offer.is_approved and not offer.reviewed %}
                    <!-- Naranja No aprobado y No revisado (estado inicial, esperando) -->
                    <i class="fa-regular fa-circle-xmark" style="color: orange;" 
                    title="{% trans 'Pending for Approval' %}"></i>

                {% else %}
                    <!-- Gris Cualquier otra combinación “inconsistente” o en revisión interna -->
                    <i class="fa-regular fa-circle-xmark" style="color: grey;"
                    title="{% trans 'Under review' %}"></i>
                {% endif %}
            </td>



            <td>
                
                {% if not offer.is_active %}
                <a href="{% url 'buyers:offer_update' offer.id %}" class="btn btn-datatable btn-icon btn-outline-primary">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                {% endif %}

                <!-- <button class="btn btn-datatable btn-icon btn-outline-danger" id="btn-modal-delete-offer" data-offer-id="{{ offer.id }}">
                    <i class="fa-regular fa-trash-can"></i>
                </button> -->
                
                {% if offer.is_active %}
                <a href="{% url 'buyers:offer_details' offer.id %}" type="button" class="btn btn-datatable btn-icon btn-outline-success">
                    <i class="fa-solid fa-eye"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        {% endfor %}
    </tbody>
</table>