{% load i18n %}
{% trans 'Confirm Delete' as confirm_delete %}

<div class="modal" id="confirmDeleteLocationReferenceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ confirm_delete }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% trans 'Are you sure you want to delete this location reference?' %}</p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger" id="confirmDeleteLocationReferenceButton" disabled>
                        <span class="mx-1">{{ confirm_delete }}</span> <span id="confirmLocationButtonTimer">(3s)</span>
                    </button>
                    <button type="button" class="btn btn-outline-warning" id="cancelDeleteLocationReferenceButton" data-dismiss="modal">
                        {% trans 'Cancel' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '#btn-modal-delete-location-reference', function () {
            const locationId = $(this).data('location-id');
            $('#confirmDeleteLocationReferenceModal').modal('show');

            const confirmButtonLocation = $('#confirmDeleteLocationReferenceButton');
            confirmButtonLocation.prop('disabled', true);
            
            // Restaurar el temporizador y el texto del botón
            confirmButtonLocation.html('<span class="mx-1">{{ confirm_delete }}</span> <span id="confirmLocationButtonTimer">(3s)</span>');
            const timerSpan = $('#confirmLocationButtonTimer');
            let countdown = 3;

            const interval = setInterval(() => {
                countdown--;
                if (countdown > 0) {
                    timerSpan.text(`(${countdown}s)`);
                } else {
                    clearInterval(interval);
                    timerSpan.remove();
                    confirmButtonLocation.prop('disabled', false);
                }
            }, 1000);

            confirmButtonLocation.off('click').on('click', function () {
                $.ajax({
                    url: `/asset/delete/location/${locationId}/`,
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                    },
                    dataType: "json",
                    success: function (response) {
                        window.location.reload();
                        $('#confirmDeleteLocationReferenceModal').modal('hide');
                    },
                    error: function (xhr, status, error) {
                        window.location.reload();
                        $('#confirmDeleteLocationReferenceModal').modal('hide');
                    }
                });
            });

            $('#cancelDeleteLocationReferenceButton').off('click').on('click', function () {
                $('#confirmDeleteLocationReferenceModal').modal('hide');
            });
        });
    });
</script>
