{% extends 'dashboard/dashboard_layout_base.html' %}

{% load i18n static custom_filters %}

{% block icons %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa367a5aee.js" crossorigin="anonymous"></script>
{% endblock icons %}

{% block main_layout %}

    {% url 'buyers:buyer_index' as purchase_orders_url %}
    {% url 'assets:create' as add_asset_url %}
    {% url 'assets:add_category' as add_asset_category_url %}

    {% static 'assets/imgs/illustrations/statistics.svg' as purchase_orders_image %}
    {% static 'assets/imgs/illustrations/browser-stats.svg' as add_asset_image %}
    {% static 'assets/imgs/illustrations/processing.svg' as add_category_image %}

    {% trans 'Purchase Orders' as purchase_orders %}
    {% trans 'Edit Purchase Order' as edit_purchase_order %}
    {% trans 'Add New Asset' as add_new_asset %}
    {% trans "Add New Asset Category" as add_new_asset_category %}

    {% include 'dashboard/partials/header/_header.html' with  icon_class="me-2"  icon_data_feather="edit"  page_title=edit_purchase_order parent_title=purchase_orders parent_url=purchase_orders_url %}

<div class="container-xl px-4 mt-n10">
    <div class="row">
        {% comment %} <!-- Purchase Orders Card --> {% endcomment %}
        {% include 'dashboard/partials/header/_header_card.html' with icon_class="feather-xl text-green mb-3" icon_data_feather="file-text" page_header_title=purchase_orders page_header_image=purchase_orders_image url=purchase_orders_url %}

        {% comment %} <!-- Add New Asset Card --> {% endcomment %}
        {% include 'dashboard/partials/header/_header_card.html' with icon_class="feather-xl text-green mb-3" icon_data_feather="archive" page_header_title=add_new_asset page_header_image=add_asset_image url=add_asset_url %}

        {% comment %}<!-- Add New Asset Category Card -->{% endcomment %}
        {% include 'dashboard/partials/header/_header_card.html' with icon_class="feather-xl text-green mb-3" icon_data_feather="list" page_header_title=add_new_asset_category page_header_image=add_category_image url=add_asset_category_url %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4" id="create_offer">
                <div class="card-header"
                    style="background-image: linear-gradient(to bottom, #c79c44 0%, #c89d46 50%, #f4d88b 100%);">
                    <h2 style="color: black;">{% trans 'Edit Purchase Order' %}</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="editPurchaseOrderForm">
                        {% csrf_token %}
                        {{ form.media.css }}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="{{ form.asset.id_for_label }}" class="form-label">
                                        {% trans "Asset:" %}
                                    </label>
                                    {{ form.asset|add_class:"form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="{{ form.offer_type.id_for_label }}" class="form-label">
                                        {% trans "Purchase order Type:" %}
                                    </label>
                                    {{ form.offer_type|add_class:"form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_quantity_type" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Quantity Type' %}*
                                        </span>
                                    </label>
                                    {{ form.quantity_type|add_attrs:"class=form-select" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="id_offer_amount" class="form-label">
                                        <span class="fw-bold">
                                            {% trans 'Total value of the offer ($ USD)' %}*
                                        </span>
                                    </label>
                                    {{ form.offer_amount|add_class:"form-control" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="{{ form.offer_quantity.id_for_label }}" class="form-label">
                                        {% trans "Quantity required:" %}
                                    </label>
                                    {{ form.offer_quantity|add_class:"form-control" }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="{{ form.buyer_country.id_for_label }}" class="form-label">
                                        {% trans "Country of Purchase:" %}
                                    </label>
                                    {{ form.buyer_country|add_class:"form-select" }}
                                </div>
                            </div>

                            {% if request.LANGUAGE_CODE == 'es' %}
                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.es_description|add_class:"form-control" }}
                                    <label for="{{ form.es_description.id_for_label }}" class="form-label">
                                        {% trans "Description (ES):" %}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.es_observation|add_class:"form-control" }}
                                    <label for="{{ form.es_observation.id_for_label }}" class="form-label">
                                        {% trans "Observations (ES):" %}
                                    </label>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.en_description|add_class:"form-control" }}
                                    <label for="{{ form.en_description.id_for_label }}" class="form-label">
                                        {% trans "Description (EN):" %}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 form-floating">
                                    {{ form.en_observation|add_attrs:"class=form-control" }}
                                    <label for="{{ form.en_observation.id_for_label }}" class="form-label">
                                        {% trans 'Observations (EN):' %}
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success" id="saveBtn">
                                <i class="fa-solid fa-floppy-disk mx-1"></i> {% trans 'Save Purchase Order' %}
                            </button>
                            <a href="{% url 'buyers:buyer_index' %}" class="btn btn-outline-gold"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-arrow-left mx-1"></i> {% trans 'Go to my Purchase Orders' %}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block body_custom_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{{ form.media.js }}

<script>
    $(document).ready(function () {
        $("#editPurchaseOrderForm").on("submit", function () {
            $(this).find("button, a").prop("disabled", true).addClass("disabled");
            $("#saveBtn").html('<i class="fa-solid fa-spinner fa-spin mx-1"></i> {% trans "Saving and Translating..." %}');
            return true;
        });
    });
</script>
{% endblock %}