{% extends 'two_factor/_base.html' %}
{% load i18n %}
{% load two_factor_tags %}

{% block layout_content %}
  <div class="min-vh-100 d-flex align-items-center justify-content-center container-xl px-5">
    <div class="card mx-auto" style="max-width: 400px; width: 100%;">
      <div class="card-header text-center">
        <a href="{% url 'core:index' %}"><img src="https://geausa.propensionesabogados.com/public/static/assets/imgs/logos/gea_logo_gold.webp" class="card-img-top img-fluid" alt="..." style="max-width: fit-content;" /></a>
      </div>
      <div class="card-body p-4">
        <p>
          {% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor authentication.{% endblocktrans %}
        </p>

        <p>
          <a href="{% url 'two_factor:profile' %}" class="btn btn-block btn-outline-success">{% trans 'Back to Account Security' %}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
