{% extends 'dashboard/dashboard_layout_base.html' %}

{% load i18n custom_filters static %}

{% block icons %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa367a5aee.js" crossorigin="anonymous"></script>
{% endblock icons %}

{% block main_layout %}

{% trans 'Client Dashboard' as page_title %}
{% trans 'Create and manage your assets and view service orders' as page_description %}
{% trans 'Assets and Service Orders' as page_header_title %}
{% trans 'Add New Asset' as add_new_asset %}
{% trans 'Do you need help?' as help_title %}

{% static 'assets/imgs/illustrations/windows.svg' as page_header_image %}
{% static 'assets/imgs/illustrations/browser-stats.svg' as add_asset_image %}
{% static 'assets/imgs/illustrations/processing.svg' as help_image %}


{% url 'assets:holder_index' as holder_url %}
{% url 'assets_location:add_asset_location' as add_asset_location_url %}
{% url 'assets:help_gea' as help_url %}

{% include 'dashboard/partials/header/_header.html' with icon_class="me-2" icon_data_feather="bookmark" page_title=page_title page_description=page_description parent_title=page_title %}

<div class="container-xl px-4 mt-n10">
    <div class="row">
    {% comment %} <!-- Assets and Service Orders --> {% endcomment %}
    {% include 'dashboard/partials/header/_header_card.html' with icon_class="feather-xl text-green mb-3" icon_data_feather="table" page_header_title=page_header_title page_header_image=page_header_image url=holder_url %}
    
    {% if request.user.is_verified_holder %}
      {% comment %} <!-- Add New Asset --> {% endcomment %}
      {% include 'dashboard/partials/header/_header_card.html' with icon_class="feather-xl text-green mb-3" icon_data_feather="folder-plus" page_header_title=add_new_asset page_header_image=add_asset_image url=add_asset_location_url %}
    {% endif %}


    {% comment %} <!-- Help Section --> {% endcomment %}
    {% include 'dashboard/partials/header/_header_card.html' with icon_class="feather-xl text-green mb-3" icon_data_feather="headphones" page_header_title=help_title page_header_image=help_image url=help_url %}
  </div>

    <div class="row">
        <div class="col-12">
            <div class="card my-3">
                <div class="card-header border-bottom">
                    <h3 class="text-center">{% trans 'Edit Location Reference' %}</h3>
                </div>


                <div class="card-body">
                    <form method="post">
                        {{ form.media.css }}
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="id_reference">{% trans 'Reference' %}</label>
                                    {{ form.reference|add_attrs:"class=form-control" }}
                                    {% if form.reference.errors %}
                                    <div class="text-danger mt-2">
                                        {{ form.reference.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="id_country">{% trans 'Country' %}</label>
                                    {{ form.country|add_attrs:"class=form-select" }}
                                    {% if form.country.errors %}
                                    <div class="text-danger mt-2">
                                        {{ form.country.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if LANGUAGE_CODE == "es" %}
                        <div class="form-floating mb-3">
                            {{ form.description_es|add_attrs:"class=form-control" }}
                            <label for="id_description_es">{% trans 'Description (ES)' %}</label>
                        </div>
                        {% else %}
                        <div class="form-floating mb-3">
                            {{ form.description_en|add_attrs:"class=form-control" }}
                            <label for="id_description_en">{% trans 'Description (EN)' %}</label>
                        </div>
                        {% endif %}

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success">
                                {% trans 'Add Location Reference' %}
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <p>
                        {% blocktrans %}
                        The Location Reference serves as a unique identifier to manage inventory across various
                        locations.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans %}
                        It allows differentiation between inventory located in the same country but in different areas,
                        inventory in different countries, or inventory in the same country as well as across multiple
                        countries.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}