{% extends 'dashboard/pages/holders/asset_location_base.html' %}

{% load i18n custom_filters %}

{% block asset_location_title %}{% trans 'Edit Asset' %}{% endblock %}

{% block asset_location_form %}
    <form method="post">
        {{ form.media.css }}

        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="id_asset">{% trans 'Asset' %}</label>
                    {{ form.asset|add_attrs:"class=form-control" }}
                </div>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="id_location">{% trans 'Location' %}</label>
                    {{ form.location|add_attrs:"class=form-select" }}
                    <a href="{% url 'assets_location:add_location' %}" class="btn btn-outline-primary btn-sm mt-3">
                        {% trans '+ Add Location' %}
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="id_quantity_type">{% trans 'Quantity Type' %}</label>
                    {{ form.quantity_type|add_attrs:"class=form-select" }}
                </div>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="id_amount">{% trans 'Amount' %}</label>
                    {{ form.amount|add_attrs:"class=form-control" }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if request.LANGUAGE_CODE == 'es' %}
                    <label for="id_observations_es">{% trans 'Observations (ES)' %}</label>
                {{ form.observations_es|add_attrs:"class=form-control" }}
                {% else %}
                    <label for="id_observations_en">{% trans 'Observations (EN)' %}</label>
                    {{ form.observations_en|add_attrs:"class=form-control" }}
                {% endif %}
            </div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-success">
                {% trans 'Edit Asset' %}
            </button>
        </div>
    </form>
{% endblock %}